In [2]:
import pandas as pd

In [14]:
vstupny_datum = pd.read_excel('RozsAgloSP4-2018-vystup.xlsx', usecols=[0,5,6,7])
vstupny_datum['Dátum a čas'] = pd.to_datetime(vstupny_datum['Dátum a čas'])



vstupny_datum

            Dátum a čas  Vzorka Zhoda    0-5
0   2018-12-31 12:08:18   41679     A  10.71
1   2018-12-30 23:56:11   41676     A   6.90
2   2018-12-30 12:43:11   41673     A   8.05
3   2018-12-30 00:15:03   41670     A   6.21
4   2018-12-29 12:23:16   41667     A   4.21
..                  ...     ...   ...    ...
655 2018-01-02 11:30:07   40004     N  36.17
656 2018-01-02 02:02:57   40003     A  11.62
657 2018-01-01 16:49:22   40002     A   9.46
658 2018-01-01 10:20:53   40001     A   9.19
659 2018-01-01 02:04:16   41072     A  11.70

[660 rows x 4 columns]

In [15]:
# Define the target times
time1 = pd.Timestamp('2024-04-13 23:00').time()
time2 = pd.Timestamp('2024-04-14 11:00').time()

# Iterate through each row and adjust the time while preserving the date
for index, row in vstupny_datum.iterrows():
    time = row['Dátum a čas'].time()
    if time < time2:
        new_datetime = row['Dátum a čas'] - pd.Timedelta(days=1)
        new_datetime = pd.Timestamp.combine(new_datetime.date(), time1)
    elif time2 <= time < time1:
        new_datetime = pd.Timestamp.combine(row['Dátum a čas'].date(), time2)
    else:
        new_datetime = pd.Timestamp.combine(row['Dátum a čas'].date(), time1)
    vstupny_datum.at[index, 'Dátum a čas'] = new_datetime
    
vstupny_datum

            Dátum a čas  Vzorka Zhoda    0-5
0   2018-12-31 11:00:00   41679     A  10.71
1   2018-12-30 23:00:00   41676     A   6.90
2   2018-12-30 11:00:00   41673     A   8.05
3   2018-12-29 23:00:00   41670     A   6.21
4   2018-12-29 11:00:00   41667     A   4.21
..                  ...     ...   ...    ...
655 2018-01-02 11:00:00   40004     N  36.17
656 2018-01-01 23:00:00   40003     A  11.62
657 2018-01-01 11:00:00   40002     A   9.46
658 2017-12-31 23:00:00   40001     A   9.19
659 2017-12-31 23:00:00   41072     A  11.70

[660 rows x 4 columns]

In [16]:
vystupny_df = pd.read_excel('PI_DataLink_Aglo_digital twins-5min-SP4-2018-30minute.xlsm')

# vystupny_df = vystupny_df.iloc[3:]
vystupny_df = vystupny_df.iloc[3:, 2:]
vystupny_df

,Unnamed: 2,Unnamed: 3,výstupné dáta,výstupné dáta.1,výstupné dáta.2,"výstupné dáta, látkové filtre - pred komínom","vstupné dáta, 3 stupen miesania, reguluje palič","vstupné dáta, reguluje palič","vstupné dáta, 3 stupeň","vstupné dáta, reguluje palič.1",...,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204
3,2018-01-01 10:00:00,2018-01-01 10:30:00,18.279808,703.252156,24.328608,0,1,228.477436,0,3.779483,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
4,2018-01-01 10:30:00,2018-01-01 11:00:00,18.11305,700.13979,26.645883,0,1,228.074851,0,3.779492,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
5,2018-01-01 11:00:00,2018-01-01 11:30:00,18.280258,709.188462,26.889692,0,1,227.750251,0,3.770042,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
6,2018-01-01 11:30:00,2018-01-01 12:00:00,18.2676,704.970265,25.165058,0,1,227.996559,0,3.775433,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
7,2018-01-01 12:00:00,2018-01-01 12:30:00,18.28035,710.909716,24.855775,0,1,228.087685,0,3.7528,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17474,2018-12-31 09:30:00,2018-12-31 10:00:00,18.816999,705.377481,75.309609,0,1,228.062101,0,4.16295,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
17475,2018-12-31 10:00:00,2018-12-31 10:30:00,18.816999,705.049167,89.836509,0,1,227.973419,0,4.168333,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
17476,2018-12-31 10:30:00,2018-12-31 11:00:00,18.816999,707.584468,77.117459,0,1,227.797426,0,4.157475,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
17477,2018-12-31 11:00:00,2018-12-31 11:30:00,18.816999,708.277203,81.320284,0,1,228.163453,0,4.150375,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
17478,2018-12-31 11:30:00,2018-12-31 12:00:00,18.816999,715.174026,69.1987,0,1,205.535993,0,3.8859,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found

In [24]:
vstupny_datum['date'] = pd.to_datetime(vstupny_datum['Dátum a čas']).dt.date
vystupny_df['date'] = pd.to_datetime(vystupny_df['Unnamed: 2']).dt.date

datumy = pd.merge(vstupny_datum, vystupny_df, on='date' , how='inner')

datumy

,Dátum a čas,Vzorka,Zhoda,0-5,date,Unnamed: 2,Unnamed: 3,výstupné dáta,výstupné dáta.1,výstupné dáta.2,...,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204
0,2018-12-31 11:00:00,41679,A,10.71,2018-12-31,2018-12-31 00:00:00,2018-12-31 00:30:00,18.816999,714.362848,85.816025,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
1,2018-12-31 11:00:00,41679,A,10.71,2018-12-31,2018-12-31 00:30:00,2018-12-31 01:00:00,18.816999,706.080248,106.560175,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
2,2018-12-31 11:00:00,41679,A,10.71,2018-12-31,2018-12-31 01:00:00,2018-12-31 01:30:00,18.816999,718.363555,84.690367,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
3,2018-12-31 11:00:00,41679,A,10.71,2018-12-31,2018-12-31 01:30:00,2018-12-31 02:00:00,18.816999,713.675992,52.7773,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
4,2018-12-31 11:00:00,41679,A,10.71,2018-12-31,2018-12-31 02:00:00,2018-12-31 02:30:00,18.816999,711.387207,68.484908,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31515,2018-01-01 11:00:00,40002,A,9.46,2018-01-01,2018-01-01 21:30:00,2018-01-01 22:00:00,17.960833,716.418273,26.266767,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
31516,2018-01-01 11:00:00,40002,A,9.46,2018-01-01,2018-01-01 22:00:00,2018-01-01 22:30:00,18.264217,718.679596,29.084025,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
31517,2018-01-01 11:00:00,40002,A,9.46,2018-01-01,2018-01-01 22:30:00,2018-01-01 23:00:00,18.213292,718.155692,32.588458,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
31518,2018-01-01 11:00:00,40002,A,9.46,2018-01-01,2018-01-01 23:00:00,2018-01-01 23:30:00,17.947525,718.437174,32.022392,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found
31519,2018-01-01 11:00:00,40002,A,9.46,2018-01-01,2018-01-01 23:30:00,2018-01-02 00:00:00,17.967125,719.414278,33.155942,...,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found,Tag not found

In [25]:
final = datumy[(datumy['Dátum a čas'] >= datumy['Unnamed: 2']) & (datumy['Dátum a čas'] < datumy['Unnamed: 3'])]

final_20 = final.iloc[:,:67]
final_20

,Dátum a čas,Vzorka,Zhoda,0-5,date,Unnamed: 2,Unnamed: 3,výstupné dáta,výstupné dáta.1,výstupné dáta.2,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
22,2018-12-31 11:00:00,41679,A,10.71,2018-12-31,2018-12-31 11:00:00,2018-12-31 11:30:00,18.816999,708.277203,81.320284,...,0.103,54.169998,6.55,1.78,0.52,0.026,1.76,0.047,6.58,0.008
70,2018-12-30 23:00:00,41676,A,6.90,2018-12-30,2018-12-30 23:00:00,2018-12-30 23:30:00,18.816999,708.594164,91.661092,...,0.123,54.369999,7.7,1.78,0.43,0.03,1.84,0.041,6.41,0.008
94,2018-12-30 11:00:00,41673,A,8.05,2018-12-30,2018-12-30 11:00:00,2018-12-30 11:30:00,18.816999,702.842705,84.011475,...,0.402,54.849998,8.2,1.79,0.52,0.034,1.59,0.023,6.91,0.007
166,2018-12-29 23:00:00,41670,A,6.21,2018-12-29,2018-12-29 23:00:00,2018-12-29 23:30:00,18.816999,707.021648,87.388392,...,0.068,54.810001,8.06,1.89,0.41,0.032,1.48,0.022,7.34,0.007
190,2018-12-29 11:00:00,41667,A,4.21,2018-12-29,2018-12-29 11:00:00,2018-12-29 11:30:00,18.816999,709.230196,73.655591,...,0.03,54.509998,8.7,1.55,0.46,0.03,1.48,0.027,7.14,0.008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31366,2018-01-02 23:00:00,40006,A,7.04,2018-01-02,2018-01-02 23:00:00,2018-01-02 23:30:00,18.430458,712.329686,57.168692,...,0.647,52.290001,6.98,2.29,0.61,0.028,1.84,0.069,7.63,0.007
31390,2018-01-02 11:00:00,40005,A,10.34,2018-01-02,2018-01-02 11:00:00,2018-01-02 11:30:00,18.8405,713.607205,161.40825,...,0.275,53.799999,7.77,2.04,0.47,0.029,1.73,0.04,7.17,0.005
31438,2018-01-02 11:00:00,40004,N,36.17,2018-01-02,2018-01-02 11:00:00,2018-01-02 11:30:00,18.8405,713.607205,161.40825,...,0.275,53.799999,7.77,2.04,0.47,0.029,1.73,0.04,7.17,0.005
31490,2018-01-01 23:00:00,40003,A,11.62,2018-01-01,2018-01-01 23:00:00,2018-01-01 23:30:00,17.947525,718.437174,32.022392,...,0.114,55.240002,7.27,1.82,0.52,0.027,1.55,0.022,7.11,0.005
31494,2018-01-01 11:00:00,40002,A,9.46,2018-01-01,2018-01-01 11:00:00,2018-01-01 11:30:00,18.280258,709.188462,26.889692,...,0.112,55.299999,6.98,1.95,0.33,0.024,1.75,0.027,6.54,0.004

In [26]:
final_20.dropna(inplace=True)
final_20 = final_20.drop('date', axis=1)
final_20 = final_20.drop('Dátum a čas', axis=1)
final_20 = final_20.drop('výstupné dáta, látkové filtre - pred komínom', axis=1)
final_20 = final_20.drop('vstupné dáta, 3 stupeň', axis=1)
final_20 = final_20.drop('Unnamed: 12', axis=1)
final_20 = final_20.drop('Unnamed: 13', axis=1)
final_20 = final_20.drop('Unnamed: 14', axis=1)
final_20 = final_20.drop('Unnamed: 16', axis=1)
final_20 = final_20.drop('výstupné dáta.3', axis=1)
final_20 = final_20.drop('výstupné dáta.4', axis=1)
final_20 = final_20.drop('výstupné dáta.17', axis=1)
final_20 = final_20.drop('výstupné dáta.18', axis=1)
final_20 = final_20.drop('výstupné dáta.16', axis=1)
final_20 = final_20.drop('výstupné dáta.19', axis=1)
final_20 = final_20.drop('výstupné dáta.20', axis=1)
final_20 = final_20.drop('výstupné dáta.21', axis=1)
final_20 = final_20.drop('výstupné dáta.22', axis=1)
final_20 = final_20.drop('Unnamed: 27', axis=1)
final_20 = final_20.drop('vstupné dáta, reguluje palič.10', axis=1) #No Good Data For Calculation
final_20 = final_20.drop('Unnamed: 30', axis=1)
final_20 = final_20.drop('vstupné dáta.2', axis=1)
final_20 = final_20.drop('vstupné dáta.3', axis=1)

In [29]:
final_20

,Vzorka,Zhoda,0-5,Unnamed: 2,Unnamed: 3,výstupné dáta,výstupné dáta.1,výstupné dáta.2,"vstupné dáta, 3 stupen miesania, reguluje palič","vstupné dáta, reguluje palič",...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
22,41679,A,10.71,2018-12-31 11:00:00,2018-12-31 11:30:00,18.816999,708.277203,81.320284,1,228.163453,...,0.103,54.169998,6.55,1.78,0.52,0.026,1.76,0.047,6.58,0.008
70,41676,A,6.90,2018-12-30 23:00:00,2018-12-30 23:30:00,18.816999,708.594164,91.661092,1,227.128558,...,0.123,54.369999,7.7,1.78,0.43,0.03,1.84,0.041,6.41,0.008
94,41673,A,8.05,2018-12-30 11:00:00,2018-12-30 11:30:00,18.816999,702.842705,84.011475,1,226.839766,...,0.402,54.849998,8.2,1.79,0.52,0.034,1.59,0.023,6.91,0.007
166,41670,A,6.21,2018-12-29 23:00:00,2018-12-29 23:30:00,18.816999,707.021648,87.388392,1,228.063868,...,0.068,54.810001,8.06,1.89,0.41,0.032,1.48,0.022,7.34,0.007
190,41667,A,4.21,2018-12-29 11:00:00,2018-12-29 11:30:00,18.816999,709.230196,73.655591,1,226.671477,...,0.03,54.509998,8.7,1.55,0.46,0.03,1.48,0.027,7.14,0.008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31366,40006,A,7.04,2018-01-02 23:00:00,2018-01-02 23:30:00,18.430458,712.329686,57.168692,1,224.443334,...,0.647,52.290001,6.98,2.29,0.61,0.028,1.84,0.069,7.63,0.007
31390,40005,A,10.34,2018-01-02 11:00:00,2018-01-02 11:30:00,18.8405,713.607205,161.40825,0,227.349159,...,0.275,53.799999,7.77,2.04,0.47,0.029,1.73,0.04,7.17,0.005
31438,40004,N,36.17,2018-01-02 11:00:00,2018-01-02 11:30:00,18.8405,713.607205,161.40825,0,227.349159,...,0.275,53.799999,7.77,2.04,0.47,0.029,1.73,0.04,7.17,0.005
31490,40003,A,11.62,2018-01-01 23:00:00,2018-01-01 23:30:00,17.947525,718.437174,32.022392,1,227.62656,...,0.114,55.240002,7.27,1.82,0.52,0.027,1.55,0.022,7.11,0.005
31494,40002,A,9.46,2018-01-01 11:00:00,2018-01-01 11:30:00,18.280258,709.188462,26.889692,1,227.750251,...,0.112,55.299999,6.98,1.95,0.33,0.024,1.75,0.027,6.54,0.004

In [31]:
important_data = final_20[['Unnamed: 2', 'Unnamed: 3', 'Vzorka', '0-5', 'výstupné dáta.5']]
final_20 = final_20.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Vzorka', 'výstupné dáta.5','Zhoda'])
final_20.drop_duplicates(subset='0-5')
final_20.dropna(inplace=True)
final_20.reset_index(drop=True)
final_20.to_excel('dataset.xlsx', index=False)
important_data = important_data.to_excel('impo_dataset.xlsx', index=False)