In [ ]:
import pandas as pd

In [ ]:
cesta_k_suboru = '/content/RozsAgloSP4-2018-vystup.xlsx'
nazov_listu = 'Data'
data = pd.read_excel(cesta_k_suboru, sheet_name=nazov_listu)

data

,Dátum a čas,Zmena,8hod,12hod,SP,Vzorka,Zhoda,0-5,2024-10-05 00:00:00,10-25,nad 25,nad 10,ISO Zhoda,ISO 0-5,"ISO > 6,3"
0,2018-12-31 12:08:18,1,1D,R7,4,41679,A,10.71,21.43,42.50,25.36,67.86,NaN,NaN,NaN
1,2018-12-30 23:56:11,3,3E,N9,4,41676,A,6.90,20.69,37.93,34.48,72.41,NaN,NaN,NaN
2,2018-12-30 12:43:11,1,1D,R8,4,41673,A,8.05,22.88,38.98,30.08,69.06,NaN,NaN,NaN
3,2018-12-30 00:15:03,3,3B,N5,4,41670,A,6.21,18.63,46.58,28.57,75.15,NaN,NaN,NaN
4,2018-12-29 12:23:16,1,1A,R9,4,41667,A,4.21,18.95,42.11,34.74,76.85,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,2018-01-02 11:30:07,1,1B,R5,4,40004,N,36.17,21.28,26.60,15.96,42.56,NaN,NaN,NaN
656,2018-01-02 02:02:57,3,3D,N7,4,40003,A,11.62,30.71,29.05,28.63,57.68,NaN,NaN,NaN
657,2018-01-01 16:49:22,2,2C,R6,4,40002,A,9.46,16.55,40.19,33.80,73.99,NaN,NaN,NaN
658,2018-01-01 10:20:53,1,1B,R6,4,40001,A,9.19,21.78,36.75,32.28,69.03,NaN,NaN,NaN
659,2018-01-01 02:04:16,3,3A,N8,4,41072,A,11.70,22.22,26.90,39.18,66.08,NaN,NaN,NaN

In [ ]:
cesta_k_suboru1 = '/content/PI_DataLink_Aglo_digital twins-5min-SP4-2018-15minute.xlsm'
nazov_listu1 = 'Sheet1'
data1 = pd.read_excel(cesta_k_suboru1, sheet_name=nazov_listu1)

# Odstrániť prvých 3 riadky
data1 = data1.iloc[3:]
# Odstrániť prvých dva stĺpce
data1 = data1.iloc[:, 2:]

data1

,Unnamed: 2,Unnamed: 3,výstupné dáta,výstupné dáta.1,výstupné dáta.2,"výstupné dáta, látkové filtre - pred komínom","vstupné dáta, 3 stupen miesania, reguluje palič","vstupné dáta, reguluje palič","vstupné dáta, 3 stupeň","vstupné dáta, reguluje palič.1",...,výstupné dáta.10,výstupné dáta.11,výstupné dáta.12,výstupné dáta.13,výstupné dáta.14,výstupné dáta.15,vstupné dáta.1,"vstupné dáta, reguluje palič.12",vstupné dáta.2,vstupné dáta.3
3,2018-01-01 10:00:00,2018-01-01 10:15:00,18.264017,700.266782,24.1226,0,1,228.719401,0,3.779417,...,168.547434,176.211767,185.319134,202.393551,166.576,116.467117,0.7589,2.008533,1329.989014,1329.990013
4,2018-01-01 10:15:00,2018-01-01 10:30:00,18.2956,706.237531,24.534617,0,1,228.235471,0,3.77955,...,165.095049,175.516066,176.825516,196.314184,165.274332,113.7811,0.751883,1.99735,1329.995504,1329.996503
5,2018-01-01 10:30:00,2018-01-01 10:45:00,18.10195,700.206297,26.535567,0,1,227.910886,0,3.792367,...,153.602331,166.481549,175.229049,193.549751,159.180799,112.111283,0.740383,1.983817,1329.996004,1329.983012
6,2018-01-01 10:45:00,2018-01-01 11:00:00,18.124149,700.073284,26.7562,0,1,228.238816,0,3.766617,...,164.521083,176.025567,188.248565,211.764735,175.968851,124.459334,0.7403,1.982783,1329.99101,1329.989506
7,2018-01-01 11:00:00,2018-01-01 11:15:00,18.245233,708.250231,26.974017,0,1,227.713533,0,3.7711,...,165.478184,166.134733,196.306917,220.87265,192.920016,129.854734,0.740317,1.979583,1329.998008,1329.99101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34950,2018-12-31 10:45:00,2018-12-31 11:00:00,18.816999,708.57769,77.524151,0,1,227.62555,0,4.1584,...,128.908483,128.110566,113.692766,164.451517,184.53605,154.147232,0.71165,2.0372,1360.043502,1360.002511
34951,2018-12-31 11:00:00,2018-12-31 11:15:00,18.816999,707.584498,80.058234,0,1,228.281668,0,4.150883,...,132.293666,131.06595,120.070049,163.032982,176.629483,146.382766,0.711367,2.037433,1360.023505,1360.015007
34952,2018-12-31 11:15:00,2018-12-31 11:30:00,18.816999,708.969909,82.582333,0,1,228.045238,0,4.149867,...,143.4212,146.387684,134.3365,184.606716,196.979168,158.829367,0.711333,2.0374,1360.039018,1360.010006
34953,2018-12-31 11:30:00,2018-12-31 11:45:00,18.816999,711.833297,76.172483,0,1,182.81985,0,3.613983,...,149.56125,153.987266,144.052017,194.894467,204.016834,163.083466,0.6025,1.713833,1360.031012,1359.989502
34954,2018-12-31 11:45:00,2018-12-31 12:00:00,18.816999,718.514756,62.224916,0,1,228.252136,0,4.157817,...,158.688117,160.567801,150.539734,200.876984,214.149999,181.539483,0.591433,1.6792,1360.019004,1360.031002

In [ ]:
# Odstránenie času z dátumu
data['Dátum'] = pd.to_datetime(data['Dátum a čas']).dt.date
data1['Dátum'] = pd.to_datetime(data1['Unnamed: 2']).dt.date

# Nájdenie zhodujúcich dátumov
result = data1[data1['Dátum'].isin(data['Dátum'])]

# Premenovanie stĺpcov
result = result.rename(columns={'Unnamed: 2': 'Interval od', 'Unnamed: 3': 'Interval do'})
result = result.drop_duplicates(subset=['Interval od'])

# Vytvorenie nových stĺpcov v DataFrame result a naplnenie hodnotami z `data['Vzorka']`, `data['Zhoda']`, a `data['0-5']`
result['Meranie'] = None
result['Vzorka'] = None
result['Zhoda'] = None
result['0-5'] = None

for index, row in result.iterrows():
    interval_od = row['Interval od']
    interval_do = row['Interval do']
    mask = (data['Dátum a čas'] >= interval_od) & (data['Dátum a čas'] <= interval_do)
    filtered_data = data[mask]
    if not filtered_data.empty:
        result.loc[index, 'Meranie'] = filtered_data['Dátum a čas'].iloc[0]
        result.loc[index, 'Vzorka'] = filtered_data['Vzorka'].iloc[0]
        result.loc[index, 'Zhoda'] = filtered_data['Zhoda'].iloc[0]
        result.loc[index, '0-5'] = filtered_data['0-5'].iloc[0]

# Zapíšeme výsledok do xlsx súboru
vystupny_subor = '/content/vystup.xlsx'
result.to_excel(vystupny_subor, index=False)

In [12]:
result

,Interval od,Interval do,výstupné dáta,výstupné dáta.1,výstupné dáta.2,"výstupné dáta, látkové filtre - pred komínom","vstupné dáta, 3 stupen miesania, reguluje palič","vstupné dáta, reguluje palič","vstupné dáta, 3 stupeň","vstupné dáta, reguluje palič.1",...,výstupné dáta.15,vstupné dáta.1,"vstupné dáta, reguluje palič.12",vstupné dáta.2,vstupné dáta.3,Dátum,Meranie,Vzorka,Zhoda,0-5
3,2018-01-01 10:00:00,2018-01-01 10:15:00,18.264017,700.266782,24.1226,0,1,228.719401,0,3.779417,...,116.467117,0.7589,2.008533,1329.989014,1329.990013,2018-01-01,None,None,None,None
4,2018-01-01 10:15:00,2018-01-01 10:30:00,18.2956,706.237531,24.534617,0,1,228.235471,0,3.77955,...,113.7811,0.751883,1.99735,1329.995504,1329.996503,2018-01-01,2018-01-01 10:20:53,40001,A,9.19
5,2018-01-01 10:30:00,2018-01-01 10:45:00,18.10195,700.206297,26.535567,0,1,227.910886,0,3.792367,...,112.111283,0.740383,1.983817,1329.996004,1329.983012,2018-01-01,None,None,None,None
6,2018-01-01 10:45:00,2018-01-01 11:00:00,18.124149,700.073284,26.7562,0,1,228.238816,0,3.766617,...,124.459334,0.7403,1.982783,1329.99101,1329.989506,2018-01-01,None,None,None,None
7,2018-01-01 11:00:00,2018-01-01 11:15:00,18.245233,708.250231,26.974017,0,1,227.713533,0,3.7711,...,129.854734,0.740317,1.979583,1329.998008,1329.99101,2018-01-01,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34950,2018-12-31 10:45:00,2018-12-31 11:00:00,18.816999,708.57769,77.524151,0,1,227.62555,0,4.1584,...,154.147232,0.71165,2.0372,1360.043502,1360.002511,2018-12-31,None,None,None,None
34951,2018-12-31 11:00:00,2018-12-31 11:15:00,18.816999,707.584498,80.058234,0,1,228.281668,0,4.150883,...,146.382766,0.711367,2.037433,1360.023505,1360.015007,2018-12-31,None,None,None,None
34952,2018-12-31 11:15:00,2018-12-31 11:30:00,18.816999,708.969909,82.582333,0,1,228.045238,0,4.149867,...,158.829367,0.711333,2.0374,1360.039018,1360.010006,2018-12-31,None,None,None,None
34953,2018-12-31 11:30:00,2018-12-31 11:45:00,18.816999,711.833297,76.172483,0,1,182.81985,0,3.613983,...,163.083466,0.6025,1.713833,1360.031012,1359.989502,2018-12-31,None,None,None,None
34954,2018-12-31 11:45:00,2018-12-31 12:00:00,18.816999,718.514756,62.224916,0,1,228.252136,0,4.157817,...,181.539483,0.591433,1.6792,1360.019004,1360.031002,2018-12-31,None,None,None,None

In [ ]:
result.count()

Interval od                                        26884
Interval do                                        26884
výstupné dáta                                      26884
výstupné dáta.1                                    26884
výstupné dáta.2                                    26884
výstupné dáta, látkové filtre - pred komínom       26884
vstupné dáta, 3 stupen miesania, reguluje palič    26884
vstupné dáta, reguluje palič                       26884
vstupné dáta, 3 stupeň                             26884
vstupné dáta, reguluje palič.1                     26884
Unnamed: 12                                        26884
Unnamed: 13                                        26884
Unnamed: 14                                        26884
vstupné dáta, reguluje palič.2                     26884
Unnamed: 16                                        26884
vstupné dáta                                       26884
výstupné dáta.3                                    26884
výstupné dáta.4                                    26884
vstupné dáta, reguluje palič.3                     26884
vstupné dáta, reguluje palič.4                     26884
vstupné dáta, reguluje palič.5                     26884
vstupné dáta, reguluje palič.6                     26884
vstupné dáta, reguluje palič.7                     26884
vstupné dáta, reguluje palič.8                     26884
vstupné dáta, reguluje palič.9                     26884
Unnamed: 27                                        26884
vstupné dáta, reguluje palič.10                    26884
výstupné dáta.5                                    26884
Unnamed: 30                                        26884
vstupné dáta, reguluje palič.11                    26884
výstupné dáta.6                                    26884
výstupné dáta.7                                    26884
výstupné dáta.8                                    26884
výstupné dáta.9                                    26884
výstupné dáta.10                                   26884
výstupné dáta.11                                   26884
výstupné dáta.12                                   26884
výstupné dáta.13                                   26884
výstupné dáta.14                                   26884
výstupné dáta.15                                   26884
vstupné dáta.1                                     26884
vstupné dáta, reguluje palič.12                    26884
vstupné dáta.2                                     26884
vstupné dáta.3                                     26884
Dátum                                              26884
Meranie                                              660
Vzorka                                               660
Zhoda                                                660
0-5                                                  660
dtype: int64

In [15]:
# Načítanie výsledného súboru a premiestnenie stĺpcov Vzorka, Zhoda a 0-5 za stĺpec Interval do
vysledny_subor = pd.read_excel(vystupny_subor)
vysledny_subor = vysledny_subor[['Interval od', 'Interval do','Meranie', 'Vzorka', 'Zhoda', '0-5', 'výstupné dáta.5' ]]
vysledny_subor.to_excel('vystupny_subor.xlsx', index=False)

In [17]:
# Odstránenie určených stĺpcov z result a zanedbanie indexovania
ostatne_data = result.drop(columns=['Interval od', 'Interval do', 'Meranie', 'Vzorka', 'Zhoda', '0-5', 'výstupné dáta.5']).reset_index(drop=True)

# Spojenie všetkých dát
#vsetky_data = pd.concat([vysledny_subor[['Interval od', 'Interval do', 'Meranie', 'Vzorka', 'Zhoda', '0-5']], ostatne_data], ignore_index=True)

# Spojenie všetkých dát
vsetky_data = pd.concat([vysledny_subor, ostatne_data], axis=1)
# Uloženie do súboru
vsetky_data.to_excel("vsetky_data.xlsx", index=False)

In [16]:
vsetky_data

,Interval od,Interval do,Meranie,Vzorka,Zhoda,0-5,výstupné dáta.5,výstupné dáta,výstupné dáta.1,výstupné dáta.2,...,výstupné dáta.11,výstupné dáta.12,výstupné dáta.13,výstupné dáta.14,výstupné dáta.15,vstupné dáta.1,"vstupné dáta, reguluje palič.12",vstupné dáta.2,vstupné dáta.3,Dátum
0,2018-01-01 10:00:00,2018-01-01 10:15:00,NaT,NaN,NaN,NaN,9.257642,18.264017,700.266782,24.1226,...,176.211767,185.319134,202.393551,166.576,116.467117,0.7589,2.008533,1329.989014,1329.990013,2018-01-01
1,2018-01-01 10:15:00,2018-01-01 10:30:00,2018-01-01 10:20:53,40001.0,A,9.19,9.197757,18.2956,706.237531,24.534617,...,175.516066,176.825516,196.314184,165.274332,113.7811,0.751883,1.99735,1329.995504,1329.996503,2018-01-01
2,2018-01-01 10:30:00,2018-01-01 10:45:00,NaT,NaN,NaN,NaN,9.201548,18.10195,700.206297,26.535567,...,166.481549,175.229049,193.549751,159.180799,112.111283,0.740383,1.983817,1329.996004,1329.983012,2018-01-01
3,2018-01-01 10:45:00,2018-01-01 11:00:00,NaT,NaN,NaN,NaN,9.211974,18.124149,700.073284,26.7562,...,176.025567,188.248565,211.764735,175.968851,124.459334,0.7403,1.982783,1329.99101,1329.989506,2018-01-01
4,2018-01-01 11:00:00,2018-01-01 11:15:00,NaT,NaN,NaN,NaN,9.222399,18.245233,708.250231,26.974017,...,166.134733,196.306917,220.87265,192.920016,129.854734,0.740317,1.979583,1329.998008,1329.99101,2018-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26879,2018-12-31 10:45:00,2018-12-31 11:00:00,NaT,NaN,NaN,NaN,10.315530,18.816999,708.57769,77.524151,...,128.110566,113.692766,164.451517,184.53605,154.147232,0.71165,2.0372,1360.043502,1360.002511,2018-12-31
26880,2018-12-31 11:00:00,2018-12-31 11:15:00,NaT,NaN,NaN,NaN,10.393591,18.816999,707.584498,80.058234,...,131.06595,120.070049,163.032982,176.629483,146.382766,0.711367,2.037433,1360.023505,1360.015007,2018-12-31
26881,2018-12-31 11:15:00,2018-12-31 11:30:00,NaT,NaN,NaN,NaN,10.471653,18.816999,708.969909,82.582333,...,146.387684,134.3365,184.606716,196.979168,158.829367,0.711333,2.0374,1360.039018,1360.010006,2018-12-31
26882,2018-12-31 11:30:00,2018-12-31 11:45:00,NaT,NaN,NaN,NaN,10.549714,18.816999,711.833297,76.172483,...,153.987266,144.052017,194.894467,204.016834,163.083466,0.6025,1.713833,1360.031012,1359.989502,2018-12-31
26883,2018-12-31 11:45:00,2018-12-31 12:00:00,NaT,NaN,NaN,NaN,10.627775,18.816999,718.514756,62.224916,...,160.567801,150.539734,200.876984,214.149999,181.539483,0.591433,1.6792,1360.019004,1360.031002,2018-12-31

In [20]:
vsetky_data.count()

Interval od                                        26884
Interval do                                        26884
Meranie                                              660
Vzorka                                               660
Zhoda                                                660
0-5                                                  660
výstupné dáta.5                                    26884
výstupné dáta                                      26884
výstupné dáta.1                                    26884
výstupné dáta.2                                    26884
výstupné dáta, látkové filtre - pred komínom       26884
vstupné dáta, 3 stupen miesania, reguluje palič    26884
vstupné dáta, reguluje palič                       26884
vstupné dáta, 3 stupeň                             26884
vstupné dáta, reguluje palič.1                     26884
Unnamed: 12                                        26884
Unnamed: 13                                        26884
Unnamed: 14                                        26884
vstupné dáta, reguluje palič.2                     26884
Unnamed: 16                                        26884
vstupné dáta                                       26884
výstupné dáta.3                                    26884
výstupné dáta.4                                    26884
vstupné dáta, reguluje palič.3                     26884
vstupné dáta, reguluje palič.4                     26884
vstupné dáta, reguluje palič.5                     26884
vstupné dáta, reguluje palič.6                     26884
vstupné dáta, reguluje palič.7                     26884
vstupné dáta, reguluje palič.8                     26884
vstupné dáta, reguluje palič.9                     26884
Unnamed: 27                                        26884
vstupné dáta, reguluje palič.10                    26884
Unnamed: 30                                        26884
vstupné dáta, reguluje palič.11                    26884
výstupné dáta.6                                    26884
výstupné dáta.7                                    26884
výstupné dáta.8                                    26884
výstupné dáta.9                                    26884
výstupné dáta.10                                   26884
výstupné dáta.11                                   26884
výstupné dáta.12                                   26884
výstupné dáta.13                                   26884
výstupné dáta.14                                   26884
výstupné dáta.15                                   26884
vstupné dáta.1                                     26884
vstupné dáta, reguluje palič.12                    26884
vstupné dáta.2                                     26884
vstupné dáta.3                                     26884
Dátum                                              26884
dtype: int64

In [19]:
lentak = vsetky_data
lentak = lentak.drop_duplicates(subset=['výstupné dáta.5'])

In [21]:
lentak.count()

Interval od                                        26847
Interval do                                        26847
Meranie                                              660
Vzorka                                               660
Zhoda                                                660
0-5                                                  660
výstupné dáta.5                                    26847
výstupné dáta                                      26847
výstupné dáta.1                                    26847
výstupné dáta.2                                    26847
výstupné dáta, látkové filtre - pred komínom       26847
vstupné dáta, 3 stupen miesania, reguluje palič    26847
vstupné dáta, reguluje palič                       26847
vstupné dáta, 3 stupeň                             26847
vstupné dáta, reguluje palič.1                     26847
Unnamed: 12                                        26847
Unnamed: 13                                        26847
Unnamed: 14                                        26847
vstupné dáta, reguluje palič.2                     26847
Unnamed: 16                                        26847
vstupné dáta                                       26847
výstupné dáta.3                                    26847
výstupné dáta.4                                    26847
vstupné dáta, reguluje palič.3                     26847
vstupné dáta, reguluje palič.4                     26847
vstupné dáta, reguluje palič.5                     26847
vstupné dáta, reguluje palič.6                     26847
vstupné dáta, reguluje palič.7                     26847
vstupné dáta, reguluje palič.8                     26847
vstupné dáta, reguluje palič.9                     26847
Unnamed: 27                                        26847
vstupné dáta, reguluje palič.10                    26847
Unnamed: 30                                        26847
vstupné dáta, reguluje palič.11                    26847
výstupné dáta.6                                    26847
výstupné dáta.7                                    26847
výstupné dáta.8                                    26847
výstupné dáta.9                                    26847
výstupné dáta.10                                   26847
výstupné dáta.11                                   26847
výstupné dáta.12                                   26847
výstupné dáta.13                                   26847
výstupné dáta.14                                   26847
výstupné dáta.15                                   26847
vstupné dáta.1                                     26847
vstupné dáta, reguluje palič.12                    26847
vstupné dáta.2                                     26847
vstupné dáta.3                                     26847
Dátum                                              26847
dtype: int64

In [23]:
lentak1 = vsetky_data
lentak1 = lentak.drop_duplicates(subset=['0-5'])

In [24]:
lentak1.count()

Interval od                                        448
Interval do                                        448
Meranie                                            447
Vzorka                                             447
Zhoda                                              447
0-5                                                447
výstupné dáta.5                                    448
výstupné dáta                                      448
výstupné dáta.1                                    448
výstupné dáta.2                                    448
výstupné dáta, látkové filtre - pred komínom       448
vstupné dáta, 3 stupen miesania, reguluje palič    448
vstupné dáta, reguluje palič                       448
vstupné dáta, 3 stupeň                             448
vstupné dáta, reguluje palič.1                     448
Unnamed: 12                                        448
Unnamed: 13                                        448
Unnamed: 14                                        448
vstupné dáta, reguluje palič.2                     448
Unnamed: 16                                        448
vstupné dáta                                       448
výstupné dáta.3                                    448
výstupné dáta.4                                    448
vstupné dáta, reguluje palič.3                     448
vstupné dáta, reguluje palič.4                     448
vstupné dáta, reguluje palič.5                     448
vstupné dáta, reguluje palič.6                     448
vstupné dáta, reguluje palič.7                     448
vstupné dáta, reguluje palič.8                     448
vstupné dáta, reguluje palič.9                     448
Unnamed: 27                                        448
vstupné dáta, reguluje palič.10                    448
Unnamed: 30                                        448
vstupné dáta, reguluje palič.11                    448
výstupné dáta.6                                    448
výstupné dáta.7                                    448
výstupné dáta.8                                    448
výstupné dáta.9                                    448
výstupné dáta.10                                   448
výstupné dáta.11                                   448
výstupné dáta.12                                   448
výstupné dáta.13                                   448
výstupné dáta.14                                   448
výstupné dáta.15                                   448
vstupné dáta.1                                     448
vstupné dáta, reguluje palič.12                    448
vstupné dáta.2                                     448
vstupné dáta.3                                     448
Dátum                                              448
dtype: int64

In [25]:
lentak1

,Interval od,Interval do,Meranie,Vzorka,Zhoda,0-5,výstupné dáta.5,výstupné dáta,výstupné dáta.1,výstupné dáta.2,...,výstupné dáta.11,výstupné dáta.12,výstupné dáta.13,výstupné dáta.14,výstupné dáta.15,vstupné dáta.1,"vstupné dáta, reguluje palič.12",vstupné dáta.2,vstupné dáta.3,Dátum
0,2018-01-01 10:00:00,2018-01-01 10:15:00,NaT,NaN,NaN,NaN,9.257642,18.264017,700.266782,24.1226,...,176.211767,185.319134,202.393551,166.576,116.467117,0.7589,2.008533,1329.989014,1329.990013,2018-01-01
1,2018-01-01 10:15:00,2018-01-01 10:30:00,2018-01-01 10:20:53,40001.0,A,9.19,9.197757,18.2956,706.237531,24.534617,...,175.516066,176.825516,196.314184,165.274332,113.7811,0.751883,1.99735,1329.995504,1329.996503,2018-01-01
27,2018-01-01 16:45:00,2018-01-01 17:00:00,2018-01-01 16:49:22,40002.0,A,9.46,9.474264,18.187583,709.739295,24.03395,...,168.778733,185.094383,218.555602,183.945417,138.362899,0.7648,2.020567,1329.988999,1329.989506,2018-01-01
64,2018-01-02 02:00:00,2018-01-02 02:15:00,2018-01-02 02:02:57,40003.0,A,11.62,11.828373,18.102167,719.644853,38.825567,...,191.775534,221.953784,248.013567,210.376734,150.224268,0.76555,2.02105,1379.950991,1379.960992,2018-01-02
102,2018-01-02 11:30:00,2018-01-02 11:45:00,2018-01-02 11:30:07,40004.0,N,36.17,35.637579,18.624917,711.636777,46.0725,...,132.524015,166.907899,194.102682,178.6655,114.302233,0.765483,2.047567,1370.023993,1369.981494,2018-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26453,2018-12-27 00:15:00,2018-12-27 00:30:00,2018-12-27 00:15:24,41652.0,A,6.64,6.659134,18.816999,648.63112,91.196751,...,135.567934,133.762166,198.779083,220.380517,196.940017,0.637933,1.9027,1270.006506,1270.016508,2018-12-27
26548,2018-12-28 00:00:00,2018-12-28 00:15:00,2018-12-28 00:07:27,41658.0,A,7.63,7.633259,18.816999,703.850495,73.305683,...,174.143651,153.339801,215.001317,214.897468,191.270898,0.66355,1.916983,1339.978503,1339.984507,2018-12-28
26644,2018-12-29 00:00:00,2018-12-29 00:15:00,2018-12-29 00:11:51,41664.0,N,13.38,13.337533,18.816999,696.568647,90.618599,...,131.0711,121.7832,173.601251,184.138751,179.644118,0.7337,2.188233,1360.017997,1360.005998,2018-12-29
26693,2018-12-29 12:15:00,2018-12-29 12:30:00,2018-12-29 12:23:16,41667.0,A,4.21,4.242806,18.816999,715.695321,101.10655,...,149.503751,130.3261,178.378933,185.5554,168.324734,0.694567,2.04395,1360.036505,1360.015,2018-12-29
26790,2018-12-30 12:30:00,2018-12-30 12:45:00,2018-12-30 12:43:11,41673.0,A,8.05,8.035564,18.816999,710.483068,117.349616,...,121.107266,114.477566,164.04975,181.028099,159.192251,0.723417,2.11695,1350.025509,1350.028503,2018-12-30